.image-wrapper {
  position: relative;
  display: inline-block;
}

.live-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 14px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
  background: linear-gradient(264deg,#Df8908 -5.09%,#B415ff 106.28%);
}

.live-btn:hover {
  opacity: 1;
  scale: 1.1;
}

/* image style (your existing code) */
.mywork-container img.cookie {
  width: 300px;
  height: 200px;
  transition: 0.3s;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.mywork-container img.cookie:hover {
  transform: scale(1.1);
  border: 4px solid #ff00ff;
  border-radius: 10px;
}
.mywork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 items per row (Desktop) */
  gap: 30px;
  
}


.mywork-container div {
  text-align: center;
}

.mywork-container img.cookie {
    box-sizing: border-box;
  width: 300px;
  height: 200px;
  transition: 280px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.mywork-container img.cookie:hover{
    transform: scale(1,1);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}
/* Showmore button should take full row */
.my-work-showmore {
  grid-column: 1 / -1; /* makes it full row */
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.arrow{
     width: 40px;
    height: 30px;
}
.theme{
     width: 100px;
    height: 100px;
    border-radius: 40px;
    justify-content: center;
    margin-left: 98px;
}
.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.my-work-showmore{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 8px 18px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.my-work-showmore:hover{
    gap: 12px;
    transition: 0.6;
}