.theme{
     width: 100px;
    height: 100px;
    border-radius: 40px;
    justify-content: center;
    margin-left: 98px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}
.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact_section{
    display: flex;
    gap: 150px;

}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(270deg,#Df8908 80%,#B415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #D8D8D8;
    font-size: 22px;

}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.contact-right label{
    color: #D8D8D8;
    font-size: 18px;
    font-weight: 500;

}
.contact-right input{
    border: none;
    width: 680px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: outfit;
    font-size: 20px;
}
.contact-right textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: outfit;
    font-size: 20px;
}
.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg,#Df8908 -5.09%,#B415ff 106.28%);
    font-size: 22px;
    padding: 15px 40px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.social-icon {
  display: flex;
 
  margin-top: 15px;
  justify-content: center;
}

