.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px ;
    border-radius: 30px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    
    margin: 20px;
}
.nav-connect:hover{
    transform: scale(1.05);

}
.anchor-link{
    text-decoration: none;
    color: white;
}

@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        color: white;
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: flex;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100px;
        z-index: 2;
        transition: right 0.5s;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 40px;
    }
}
